doctype html
html(lang='en')
	head
		title="kakashi"
		script(type="text/javascript", src="/js/socket.io-1.2.0.js")
		script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
		script(type="text/javascript", src="/js/phaser.js")
		script(type="text/javascript", src="/js/game.js")
		link(type="text/css", href="/css/game.css", rel="stylesheet")
	body
		block content
